<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyle.mapper.SelectionMapper" >

  <select id="findSelectionId" resultType="com.kyle.domain.Selection">
    select sid,bid from selection order by sid desc
  </select>

  <select id="findSid" resultType="com.kyle.domain.Selection">
    select sid from selection where bid=#{bid}
  </select>
</mapper>